.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    /* image 62 */
    width: 191.33px;
    height: 280px;
    border: 1px solid #000;
}
.title{


font-family: 'Hahmlet';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 46px;
text-align: center;
color: #000000;


}